@charset "UTF-8";
@font-face {
  font-family: Hoefler Text;
  src: url("../fonts/Hoefler Text Regular.ttf");
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?u0ms6u");
  src: url("../fonts/icomoon.eot?u0ms6u#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?u0ms6u") format("truetype"), url("../fonts/icomoon.woff?u0ms6u") format("woff"), url("../fonts/icomoon.svg?u0ms6u#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-keyboard_arrow_down:before {
  content: "\e901";
}

.icon-search:before {
  content: "\e902";
}
*{
  font-size: 16px;
}

h1 {
  font-family: Hoefler Text;
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 55px;
  margin-bottom: 0;
}

h1 span {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.125rem;
  font-weight: lighter;
  text-align: center;
  margin-top: 0;
}

.idiom-title:hover{
  text-decoration: underline;
}

.languajes {
  display: grid;
  grid-template-columns:[inicio] 1fr [linea2] 0.3fr[linea3] 1fr[fianl];
  grid-template-rows: [inicio] 60px [linea2] 60px [linea3] 60px [linea4] 60px [linea5] 60px [final];
  row-gap: 1.5rem;
}
main .main-logo {
  max-height: 200px;
  grid-column: linea2 / linea3;
  grid-row: linea2 / linea5 ;
  margin: 0;
  justify-self: center;
}
main .main-logo img{

  width: 100%;
  min-width: 200px;
}
main div strong{
  font-size: 1.2rem;
}
main div a p {
  font-size: 1rem;
  color: #565b5f;
  font-weight: normal;
}

main div #español {
  justify-self: flex-end;
  text-align: center;
  grid-row: inicio/linea2;
  grid-template-columns: inicio/linea2;
  position: relative;
  left: 3.5rem;
}

main div #español a{
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  color: #3366cc;
  
}

#ingles{
  grid-row: inicio/linea2;
  grid-column: linea3/linea4;
  justify-self: flex-start;
  position: relative;
  right: 3.5rem;
  text-align: center;
}
main div #ingles a {
  
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  color: #3366cc;
}

main div #aleman {
  grid-row: linea2/linea3;
  grid-column: linea3/linea4;
  justify-self: flex-start;
  position: relative;
  left: 1rem;
  text-align: center;
  
}

main div #aleman a {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  color: #3366cc;
}

main div #frances {
  grid-row: linea3/linea4;
  grid-column: linea3/linea4;
  justify-self: flex-start;
  position: relative;
  left: 2rem;
  text-align: center;
}

main div #frances a {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  color: #3366cc;
}

main div #chino {
  grid-row: linea4/linea5;
  grid-column: linea3/linea4;
  justify-self: flex-start;
  position: relative;
  left: 1rem;
  text-align: center;
  
}

main div #chino a {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #3366cc;
}
main div #polaco {
  justify-self: flex-start;
  grid-row: linea5/linea6;
  grid-column: linea3/linea4;
  justify-self: flex-start;
  position: relative;
  right: 3.5rem;
  text-align: center;
}

main div #polaco a {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  color: #3366cc;
}

main div #japones {
  grid-row: linea2/linea3;
  grid-column: inicio/linea2;
  justify-self: flex-end;
  position: relative;
  right: 1.8rem;
  text-align: center;
}

main div #japones a {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  color: #3366cc;
}

main div #ruso {
  justify-self: flex-end;
  grid-row: linea3/linea4;
  grid-column: inicio/linea2;
  justify-self: flex-end;
  position: relative;
  right: 2rem;
  text-align: center;
}

main div #ruso a {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  color: #3366cc;
}

main div #italiano {
  justify-self: flex-end;
  grid-row: linea4/linea5;
  grid-column: inicio/linea2;
  text-align: center;
}

main div #italiano a {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  color: #3366cc;
}

main div #portugues {
  justify-self: flex-end;
  grid-row: linea5/linea6;
  grid-column: inicio/linea2;
  justify-self: flex-end;
  position: relative;
  left: 3.5rem;
  text-align: center;
}

main div #portugues a {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  color: #3366cc;
}

p {
  display: block;
  -webkit-margin-before: 0.5em;
          margin-block-start: 0.5em;
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

main .main-input {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .main-input-2{
  display: none;
}
main .main-input-container {
  border-radius: 5px;
  border: 0.5px solid grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 500px;
  max-height: 45px;
  overflow: hidden;
  line-height: 0;
}

main .main-input input {
  width: 400px;
  height: 45px;
  border: none;
  outline: none;
  overflow: hidden;
  position: relative;
  left: 15px;
}

main .main-input-container:focus-within {
  border: 1px solid #3366CC;
}

.icon-keyboard_arrow_down:before {
  content: "\e901";
}

main .search-container {
  margin-left: 10px;
  width: 4em;
  height: 3.5em;
  position: relative;
  background-color: #3366CC;
  overflow: visible;
  display: inline-block;
}

main .search-container button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
}

main .search-container:hover button {
  border: 1px  solid #649BFF;
  -webkit-box-shadow: 0 3px 3px #649BFF;
          box-shadow: 0 3px 3px #649BFF;
  color: white;
  background-color: #649BFF;
}

.styled-select.js-enabled {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  text-align: center;
  opacity: 70%;
  font-size: medium;
}

.styled-select.js-enabled select {
  background: transparent;
  position: absolute;
  z-index: 1;
  border: 0;
  margin: 0;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.styled-select select {
  width: 40px;
  opacity: 0;
  cursor: pointer;
}
.translate-section{
  margin: 3em 0 2em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.traslate-button{
  display: inline-block;
  position: relative;
  background-color: white;
  /* border: none; */
  width: 20em;
  height: 2em;
  border: 1px solid #a2a9b1
}
.traslate-button::after,.traslate-button::before{
  content: '';
  position: absolute;
  width: 120px;
  height: 1px;
  background-color: grey;
  top:1em;
}
.traslate-button::before{
  left: -140px;
}
.traslate-button::after{
  right: -140px;
}
.translate-icon figure{
  display: inline-block;
  width: 30px;
  height: 30px;
  margin:0 ;
}
.translate-icon img{
  display: inline-block;
  position: relative;
  right: 5px;
}
.button-description{
  margin: 0;
  display: inline-block;
  text-decoration: none;
  color: #3366cc;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  position: relative;
  bottom: 10px;
}
aside{
  height: 400px;
  width: 30%;
  padding-top: 40px;
  padding-left: 3%;
  margin-left: 1%;
  float: left;
}
.fundacion-img{
  float: left;
  width: 3.5em;
  position: relative;
  bottom: 1em;
  margin-bottom: 10px;
}

#text-foundation{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.9em;
  color:rgba(0, 0, 0, 0.7);
  line-height: 1.5;
}
.download-buttons{
  margin-top:20px;
  background-color:rgba(192, 192, 192,0.1);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: justify;
  line-height: 1.5;
}
#download-button-title{
  font-weight: bolder;
  font-size: 1em;
  color:rgba(0, 0, 0, 0.6)
}
#download-button-p{
  font-weight: normal;
  font-size: 0.9em;
  color:rgba(0, 0, 0, 0.6)
}
#icon-wiki-aside{
  float: left;
  margin-right: 1em;
  margin-bottom: 100%;
}
.download-buttons li{
  display: inline-block;
}
.download-buttons li figure{
  margin: 0;
  display: inline-block;
}
.body-links{
  padding-top:41px;
  width: 65%;
  display: inline-block;
  margin-left: 1%;
}
.body-links h4{
  margin: 0;
  color: #3366cc;
  font-weight: normal;
}
.body-links p{
  color:rgba(0, 0, 0, 0.6);
  line-height: 1.5;
  margin: 0;
}
.other-links-right{
  float: left;
    position: relative;
    width: 33%;
    height: 90px;
    margin: 0.5em 0 0.5em 0;
}
.other-links-right a{
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
}
.body-links img{
  width: 50px;
  height: 50px;
  float: left;
  margin-bottom: 10px;
}
.title-image{
  display: none;
}
#commons-icon-img{
  position: relative;
  top: 10px;
}
footer{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  font-size:14px ;
}
footer a{
  text-decoration: none;
  color: #3366cc;
}
footer p{
  text-align: right;
}
footer ul li{
  text-align: left;
  display: inline-block;
  list-style: none;
  margin-left: 10px;
 
}
.dot {
  height: 3px;
  width: 3px;
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  bottom: 3.5px;
  margin-right: 10px;
}
.download-buttons-2{
  display: none;
}


@media (orientation: landscape) and (max-width:768px ) and (min-width:425px ) {
  section .other-links{
    display: flex;
  }
  
  aside {
    width: 100%;
    height: auto;
  }
  .other-links-icon{
    display: grid;
    justify-items: center;
  }
  .download-buttons{
    display: none;
  }
  .body-links{
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .download-buttons-2{
    display: grid;
    grid-template-rows:20px 60px 100px;
    justify-items: center;
    text-align: center;
    background-color: #F8F9FA;
    }
  #icon-wiki-aside{
    margin:0;
    grid-row: 1 / 2;
    grid-column: 1/2;
    width: 20px;
    margin-right: 200px;
    border: 1px solid white;
  }
  #download-button-title{
    grid-row: 1 /2;
    grid-column: 1/2;
    vertical-align: middle;
    margin: 0;
    margin-left: 100px;
  }
  #download-button-p{
    padding: 0 10px 0 10px;
  }
  .downloads-container-buttons{
    width: 100%;
    display: inline-block;
  }
}
@media (orientation: portrait) and (min-width:300px) and  (max-width:420px){  
  

  main div strong {
    font-size: 16px;
  }
  main div a p {
    font-size: 14px;
  }
  
  .wikipedia-logo-principal{
    display: none;
  }
  .title-image{
    display: inline-block;
    width: 60px;
    margin: 0;
    position: relative;
    top: 65px;
    right: 10px;
  }
  .title-container-first h1{
    display: inline-block;
    margin: 0;
    margin-left: 50px;
  }
  .title-container-first h2{
    margin-left: 20px;
  }
  .title-container-first{
    margin-left: 20px;
  }
  .main-input{
    display: none;
  }
  .languajes{
    margin-top: 50px;
    margin-bottom: 50px;
    grid-template-columns:[inicio] 1fr [linea2] 1fr[linea3] 1fr[fianl]; 
    grid-template-rows: [inicio] 60px [linea2] 60px [linea3] 60px [linea4] 60px [linea5];
  }
  main div #español {
    justify-self: flex-end;
    text-align: center;
    grid-row: inicio/linea2;
    grid-column: inicio/linea2;
    position: static;
  }
  main div #ingles{
    grid-column: linea2/linea3;
    position: static;
  }
  main div #japones{
    grid-row: inicio/linea2;
    grid-column: linea3/final;
    position: static;
  }
  main div #aleman{
    grid-row: linea2/linea3;
    grid-column: inicio/linea2;
    position: static;
  }
  main div #ruso{
    grid-row: linea2/linea3;
    grid-column: linea2/linea3;
    position: static;
  }
  main div #frances{
    grid-row: linea2/linea3;
    grid-column: linea3/final;
    position: static;
  }
  main div #italiano{
    grid-row: linea3/linea4;
    grid-column: inicio/linea2;
    position: static;
  }
  main div #chino{
    grid-row: linea3/linea4;
    grid-column: linea2/linea3;
    position: static;
  }
  main div #portugues{
    grid-row: linea3/linea4;
    grid-column: linea3/final;
    position: static;
  }
  main div #polaco{
    grid-row: linea4/linea5;
    grid-column: inicio/linea2;
    position: static;
  }
  section .other-links{
    display: flex;
  }
  
  aside {
    width: 100%;
    height: auto;
  }
  .other-links-icon{
    display: grid;
    justify-items: center;
  }
  .download-buttons{
    display: none;
  }
  .body-links{
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .download-buttons-2{
    display: grid;
    grid-template-rows:20px 60px 100px;
    justify-items: center;
    text-align: center;
    background-color: #F8F9FA;
    }
  #icon-wiki-aside{
    margin:0;
    grid-row: 1 / 2;
    grid-column: 1/2;
    width: 20px;
    margin-right: 200px;
    border: 1px solid white;
  }
  #download-button-title{
    grid-row: 1 /2;
    grid-column: 1/2;
    vertical-align: middle;
    margin: 0;
    margin-left: 100px;
  }
  #download-button-p{
    padding: 0 10px 0 10px;
  }
  .downloads-container-buttons{
    width: 100%;
    display: inline-block;
  }
  .other-links-right{
    float: left;
      position: relative;
      width: 50%;
      height: 90px;
      margin: 0.5em 0 0.5em 0;
  }
  .other-links-right p{
    font-size: 12px;
  }
  h5#download-button-title{
    font-size: 13px;
    margin-top: 5px;
    margin-left: 50px;
  }
  p#download-button-p{
    font-size: 12px;
    margin-top: 10px;
  }
  .play-store-image{
    margin-top: 20px;
    width: 100px;
  }
  .apple-store-image{
    width: 100px;
  }
  footer{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    display: inline-block;
    font-size:12px;
  }
  footer p{
    text-align: left;
    font-size: 12px
  }
  footer a{
    font-size: 12px;
  }
  footer ul{
    padding: 0;
    margin: 0;
  }
  .traslate-button::after, .traslate-button::before{
    width: 0;
    height: 0;
  }
}